* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, button {
    font-family: "Roboto", sans-serif;

}

header {
    margin-top: 2rem;
    margin-left: 4rem;
}
header nav {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #C4C4CC;
}

header nav a:hover {
    font-weight: bold;
    color: #FFF;
}


#app img {
    position: absolute;
    background-image: url("/assets/mountains-universe-1.png");
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100vw 100vh;
}

#home h1 {
    font-size: 3rem;
    color: #E1E1E6;
}  


#home {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
    margin-top: 10.75rem;
    gap: 1.5rem;
}

#home a {
    border: 1px solid #FFF;
    background: none;
    color: #FFF;
    padding: 0.75rem 2rem;
    border-radius: 0.3125rem;
    text-decoration: none;
}

#home a:hover {
    cursor: pointer;
    color: black;
    background-color: #FFF;
    transform: scale(1.1);
}

#app {
    margin-left: 6.375rem;
    margin-top: 4.5rem;
}

#app h2 {
    color: #E1E1E6;
    font-size: 3rem;
    line-height: 125%;
    margin-bottom: 1rem;
}

#app p {
    color: #E1E1E6;
    font-size: 1.125rem;
    width: 40rem;
    line-height: 160%;
}

